In [0]:
  %sql
 CREATE TABLE IF NOT EXISTS bronze.bronze_schema.employee_hdfc (
     EmployeeID INT,
     FirstName STRING,
     LastName STRING,
     Email STRING,
     PhoneNumber STRING,
     HireDate DATE,
     JobTitle STRING,
     DepartmentID INT,
     Salary DECIMAL(10, 2),
     Status STRING,
     CreatedAt TIMESTAMP,
     UpdatedAt TIMESTAMP,
     is_deleted  string
 )
 USING DELTA;

In [0]:
 %sql
 INSERT INTO bronze.bronze_schema.employee_hdfc (
     EmployeeID, FirstName, LastName, Email, PhoneNumber,
     HireDate, JobTitle, DepartmentID, Salary, Status, CreatedAt, UpdatedAt,is_deleted 
 )
 VALUES 
     (1, 'Alice', 'Smith', 'alice.smith@example.com', '123-456-7890', '2022-05-10', 'Software Engineer', 101, 85000.00, 'Active', current_timestamp(), current_timestamp(),'false'),
     (2, 'Bob', 'Johnson', 'bob.johnson@example.com', '234-567-8901', '2021-03-15', 'Data Analyst', 102, 70000.00, 'Active', current_timestamp(), current_timestamp(),'false'),
     (3, 'tom', 'Johnson', 'bob.johnson@example.com', '234-567-8901', '2021-03-15', 'Data Analyst', 102, 70000.00, 'Active', current_timestamp(), current_timestamp(),'false')

In [0]:
%sql
select * from bronze.bronze_schema.employee_hdfc;

In [0]:

 %sql
 UPDATE bronze.bronze_schema.employee_hdfc
 SET 
     JobTitle = 'Senior Software Engineer',
     Salary = 85000.00,
     UpdatedAt = current_timestamp()
 WHERE 
     EmployeeID = 2;

In [0]:
 %sql
 UPDATE bronze.bronze_schema.employee_hdfc
 SET 
     is_deleted = True
     
 WHERE 
     EmployeeID = 1;

#CRETE CONFIG TABLE

In [0]:

 %sql
 CREATE TABLE IF NOT EXISTS bronze.bronze_schema.config_hdfc (
     
     source_catalog      STRING NOT NULL,
     source_schema       STRING NOT NULL,
     source_table_name   STRING NOT NULL,

     bronze_catalog      STRING NOT NULL,
     bronze_schema       STRING NOT NULL,
     bronze_table_name   STRING NOT NULL,

     quarantine_catalog      STRING NOT NULL,
     quarantine_schema       STRING NOT NULL,
     quarantine_table_name   STRING NOT NULL,

     silver_catalog      STRING NOT NULL,
     silver_schema       STRING NOT NULL,
     silver_table_name   STRING NOT NULL,

     gold_catalog      STRING NOT NULL,
     gold_schema       STRING NOT NULL,
     gold_table_name   STRING NOT NULL,

     primary_key         STRING,
     incremental_key     STRING,
     load_type           STRING NOT NULL,          -- FULL, INCREMENTAL, etc.

     is_active           BOOLEAN,                  -- default set manually
     created_at          TIMESTAMP,                -- set manually
     updated_at          TIMESTAMP,
     deleted_flag        string

 )
 USING DELTA;

In [0]:

 %sql
 INSERT INTO bronze.bronze_schema.config_hdfc (
     source_catalog, source_schema, source_table_name,
     bronze_catalog, bronze_schema, bronze_table_name,
     quarantine_catalog, quarantine_schema, quarantine_table_name,
     silver_catalog, silver_schema, silver_table_name,
     gold_catalog, gold_schema, gold_table_name,
     primary_key, incremental_key, load_type,
     is_active, created_at, updated_at,deleted_flag
 )
 VALUES (
     'bronze', 'bronze_schema', 'employee_hdfc',
     'bronze', 'bronze_schema', 'tbl_bl_employee_hdfc',
     'bronze', 'bronze_schema', 'tbl_ql_employee_hdfc',
     'bronze', 'bronze_schema', 'tbl_sl_employee_hdfc',
     'bronze', 'bronze_schema', 'tbl_gl_employee_hdfc',
     'EmployeeID', 'UpdatedAt', 'INCREMENTAL',
     true, CURRENT_TIMESTAMP(), CURRENT_TIMESTAMP(),'is_deleted'
 );

In [0]:
%sql
select * from bronze.bronze_schema.config_hdfc;

In [0]:
 %sql
 CREATE TABLE safra_catalog.config_etl_fm.sales_data_hdfc (
     sale_id        INT,
     product_name   STRING,
     quantity       INT,
     price          DECIMAL(10, 2),
     sale_date      DATE,
     region         STRING,
     CreatedAt      TIMESTAMP,
     update_time    TIMESTAMP
 );

In [0]:

 %sql
 INSERT INTO safra_catalog.config_etl_fm.sales_data_hdfc (sale_id, product_name, quantity, price, sale_date, region,CreatedAt , update_time)
 VALUES
     (1, 'Laptop',         2, 1200.00, DATE '2024-11-15', 'North America', CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
     (2, 'Smartphone',     5,  699.99, DATE '2024-11-16', 'Europe',         CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
     (3, 'Headphones',     3,  199.95, DATE '2024-11-17', 'Asia',           CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
     (4, 'Monitor',        1,  299.99, DATE '2024-11-18', 'South America',  CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
     (5, 'Keyboard',       4,   89.99, DATE '2024-11-19', 'North America',  CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP()),
     (6, 'Tablet',         2,  399.00, DATE '2024-11-20', 'Africa',         CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP())

In [0]:
print("A")

In [0]:
%sql
create catalog bronze ;

In [0]:
%sql
create schema bronze.bronze_schema;